nav {
  font-family: 'Exo 2', sans-serif;;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}


.bg-transparent {
  background-color:#030C16;
}

/* ---- particles.js container ---- */

#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png');
}

.intro{
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
}
